.main .inner {
  width: 1200px;
}
.main .small-banner {
  background: url("") no-repeat center;
  height: 420px;
}
.main .crumb p {
  font-size: 14px;
}
.main .article {
  width: 1126px;
  margin: 19px auto 0;
  border: 1px solid #e5e5e5;
  padding: 38px 36px 20px;
}
.main .article h1 {
  font-size: 30px;
  color: #90959b;
  font-weight: bolder;
  line-height: 47px;
  text-align: center;
}
.main .article .small-title {
  font-size: 18px;
  line-height: 35px;
  color: #6e7b86;
  padding-bottom: 24px;
  text-align: center;
}
.main .article .padding-bot {
  padding-bottom: 16px;
}
.main .article .padding-bot2 {
  padding-bottom: 32px;
}
.main .article .padding-top {
  padding-top: 16px;
}
.main .article .padding-left {
  padding-left: 44px;
}
.main .article .padding-left2 {
  padding-left: 38px;
}
.main .article p,
.main .article h3 {
  line-height: 32px;
  color: #90959b;
  font-size: 18px;
  white-space: normal;
}
.main .article h2 {
  line-height: 64px;
  font-size: 18px;
  color: #e61859;
  font-weight: bolder;
}
.main .article h3 {
  font-weight: bolder;
  text-indent: 2em;
}
.main .article .pic-right {
  float: right;
  padding: 5px 5px 0 0;
}
.main .article .pic-right img {
  display: block;
  margin-bottom: 26px;
}
.main .article .pic-right2 {
  float: right;
  padding: 30px 5px 0 0;
}
.main .article .pic-right2 img {
  margin-left: 25px;
}
.main .article .pic-right3 {
  float: right;
  padding: 65px 5px 0 0;
}
.main .article .pic-right3 img {
  display: block;
  margin-bottom: 28px;
}
.main .article .pic-mid {
  padding: 28px 0 42px;
}
.main .article .pic-mid .mid {
  margin: 0 40px;
}
.main .bottom {
  line-height: 36px;
  padding: 36px 0 90px;
  font-size: 18px;
  color: #979ca2;
}
